html, body, #app {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2c2f33;
  width: 100%;
  height: 100%;
  color: #FFF;
}

html > #app, body > #app, #app > #app {
  display: flex;
  justify-content: space-around;
}

html .container, body .container, #app .container {
  margin-top: 2rem;
  min-width: 50rem;
}

html .container .form, body .container .form, #app .container .form {
  max-width: 30rem;
  min-width: 30rem;
  width: 30rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

html .container .form label, body .container .form label, #app .container .form label {
  margin: 1rem 1rem;
}

html .container .form .input-group, body .container .form .input-group, #app .container .form .input-group {
  display: flex;
  flex-direction: row;
}

img:hover {
  filter: grayscale(1);
}

hr {
  border: none;
  border-bottom: solid 1px #fff;
}

input, select {
  width: 100%;
  margin: 0.5rem;
  background-color: #23272a;
  border: none;
  border-radius: 7px;
  padding: 0.75rem 1.5rem;
  color: #FFF;
}

input.disabled, select.disabled {
  cursor: not-allowed;
}

.form-lined {
  max-width: 30rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

.form-lined a {
  color: #e74c3c;
  margin-left: 25px;
}

.form-lined .form-row {
  display: flex;
  flex-direction: row;
}

.form-lined .form-row .form-row-right {
  margin-left: auto;
}

button {
  width: 100%;
  margin: 0.5rem;
  background-color: #27ae60;
  border: none;
  border-radius: 7px;
  font-size: 1.5em;
  padding: 0.5rem 0.5rem;
  max-width: 5rem;
  color: #FFF;
  cursor: pointer;
}

button:hover {
  background-color: #2ecc71;
}

button:focus {
  outline: none;
}
