
.one:after {
    color: #0000fd;
    content: "1";
}

.two:after {
    color: #028001;
    content: "2";
}

.three:after {
    color: #fe0001;
    content: "3";
}

.four:after {
    color: #010180;
    content: "4";
}

.five:after {
    color: #810101;
    content: "5";
}

.six:after {
    color: #008080;
    content: "6";
}

.seven:after {
    color: #000000;
    content: "7";
}

.height:after {
    color: #808080;
    content: "8";
}